body {
    background-color: #FCFAF2;
  }
  
.container {
    width: 70%;
    min-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  footer{
    height: 100px;
    background-color: #87b5c4;
    display: flex;
  }